/* Variables */
:root {
  --lightGrey: rgb(245, 242, 242);
  --mediumGrey: rgb(172, 172, 172);
  --darkGrey: rgb(123, 121, 121);
}

/* Global Stylings */
html {
  font-size: 62.5%;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.6rem;
  background-color: var(--lightGrey);
  color: var(--darkGrey);
}

.main-app {
  min-width: 400px;
  max-width: 550px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10% auto;
  border: solid lightgrey 1px;
  box-shadow: 0 3px 3px 3px rgba(0, 0, 0, 0.077);
}

.main-app__title-section-wrapper,
.main-app__form-add-task,
.main-app__form-check-task,
.form-check-task__list__item,
.form-check-task__clear-btn {
  width: 100%;
}

.main-app__title-section-wrapper,
.main-app__form-add-task,
.form-check-task__list__item,
.form-check-task__clear-btn {
  padding: 1.4rem;
  display: flex;
  align-items: center;
  background-color: white;
  border-bottom: solid lightgrey 1px;
}

.main-app__title-section-wrapper {
  justify-content: space-between;
}

.form-add-task__input::placeholder {
  font-size: 1.6rem;
  font-style: italic;
}

.main-app__refresh-btn {
  border: none;
  background-color: transparent;
}

.main-app__refresh-btn .fas {
  color: var(--mediumGrey);
  cursor: pointer;
}

.main-app__form-add-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}

.form-add-task__input {
  border: none;
  margin: 0;
  padding: 1.4rem;
}

.form-add-task__icon {
  height: 2rem;
  width: auto;
  margin: 0 1rem;
  opacity: 20%;
  cursor: pointer;
}

.form-check-task__list__item {
  position: relative;
}

.form-check-task__list__item__task-description {
  margin: 0 1.5rem;
  width: 100%;
}

.form-check-task__list__item__input-edit {
  border: none;
  margin: 0 1.5rem;
  width: 100%;
  padding: 0;
  font-size: 1.6rem;
  outline: none;
  background-color: transparent;
}

.form-check-task__list__item__icon {
  right: 1rem;
  position: absolute;
  color: lightgray;
  cursor: move;
}

.form-check-task__clear-btn {
  border: none;
  font-size: 1.6rem;
  margin: 0;
  background-color: var(--lightGrey);
  display: flex;
  justify-content: center;
  color: var(--mediumGrey);
  cursor: pointer;
}
